<%- include('./partials/head') -%>

<body>
    <h1>Productos de Ikea</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h3><%= product.name %></h3>
                <p>Precio: $<%= product.price %></p>
                <p>Rating: <%= product.rating %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>