<%- include('./partials/head') -%>

<ul>
    <li>
        <h2><%= product.name %></h2>
        <p>Compañía: <%= product.company %></p>
        <p>Precio: $<%= product.price %></p>
    </li>
</ul>

<!-- Enlace para regresar a la lista de productos -->
<a href="/pepe">Volver a la lista de productos</a>

</body>
</html>

